html, body, .container-fluid, .col-md-6, .row {
    height: 100%;
}

.left_collapsed, .right_collapsed {
    display = none;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}

@media (min-width: 992px) {
    .right_collapsed {
        display = block;
        margin-right: -50%;
    }
    .left_collapsed {
        display = block;
        margin-left: -50%;
    }
}


#row-main {
    height: 100%;
    overflow-x: hidden;
}

#content {

    background-image: url("../img/game_jam_event_cover.png");
    height: 100%;
    width: 100%;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: all 0.3s ease;
}

#content_2 {
    background-image: url("../img/summit_event_cover.png");

    height: 100%;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: all 0.3s ease;
}

#game_jam_des, #summit_des {
    display: none;
}


.centerBlock {
  border-style: solid;
  background-color: rgba(255,255,255,0.3);
  display: table;
  margin: auto;
  margin-top: 45%;
}

#game_jam_title {
    padding: 10px 10px 1px 10px;
}

#summit_title {
        padding: 10px 25px 1px 25px;
}


