/*html, body, .container-fluid, .col-md-6, .row {
    height: 100%;
    overflow-x: hidden;
}*/

.left_collapsed, .right_collapsed {
    display = none;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}

@media (min-width: 992px) {
    .right_collapsed {
        display = block;
        margin-right: -50%;
    }
    .left_collapsed {
        display = block;
        margin-left: -50%;
    }
}


#row-main {
    height: 100%;
    overflow-x: hidden;
    background-image: url("../img/game_jam_event_cover.png");
}

#content {

    /*background-image: url("../img/game_jam_event_cover.png");*/
    height: auto;
    width: 100%;
    overflow: hidden;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: all 0.3s ease;
}

#content_2 {
    background-image: url("../img/summit_event_cover.png");
    height: auto;
    width: 100%;
    overflow: hidden;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: all 0.3s ease;
}
@media (max-width: 767px){
  #content, #content_2 {
    height: 50%;
  }
}

#game_jam_des, #summit_des {
    display: none;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px #292929;
}


.centerBlock {
  border-style: solid;
  background-color: rgba(255,255,255,0.3);
  display: table;
  margin: auto;
  margin-top: 35vh;
}
@media (max-width: 767px){
  .centerBlock {
    margin-top: 20vh;
    margin-bottom: 15vh;
  }
}
@media (max-height: 456px){
  .centerBlock {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}
@media (max-height: 228px){
  .centerBlock {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

#game_jam_title {
    padding: 10px 10px 1px 10px;
}

#summit_title {
        padding: 10px 25px 1px 25px;
}


