/*!
 * Based off of the bootstrap template found ...
 * Start Bootstrap - Busines Frontpage (http://startbootstrap.com/template-overviews/business-frontpage)
 * Lisence is MIT
 *
 * SDGA Custom is the custom CSS for the SDGA website. 
 */
svg{
  width:100%;
  display:block;
}
@font-face
{
    font-family: 'UniversalBold';
    src: url("../fonts/UniversLTStd-Bold.otf") format("opentype");
}
@font-face
{
    font-family: 'UniversalObl';
    src: url("../fonts/UniversLTStd-Obl.otf") format("opentype");
}
@font-face
{
    font-family: 'UniversalLight';
    src: url("../fonts/UniversLTStd-LightCn.otf") format("opentype");
}

/*Lato Regular Font*/
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("opentype");
}

/*Lato Bold Font*/
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato/Lato-Black.ttf") format("opentype");
}

/*Lato Light Font*/
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato/Lato-Light.ttf") format("opentype");
}

.universalBoldFont{
  font-family: "UniversalBold", serif;
  font-weight: 900;
}

/*Lato regular font class*/
.lato-Regular-Font{
  font-family: Lato-Regular;
}

/*Lato bold font class*/
.lato-Bold-Font{
  font-family: Lato-Bold;
}

/*Lato light font class*/
.lato-Light-Font{
  font-family: Lato-Light;
}

.text-smooth {
  -webkit-text-stroke: .25px black;
  -webkit-text-fill-color: black;
}

body, html
{
    height: 100%;
    margin: 0;
}

.header-img{
  width:100% !important;
  height:auto;
}

/*Navbar Mobile Scrolling Fix*/
@media (max-width: 767px){
  nav.navbar{
    max-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .header-img{
    /*width: 55% !important;*/
  }
}

/*Header Image Fix*/
@media (min-width: 640px) and (max-width: 735px) and (min-height: 330px){
  .header-img{
    width: 25%;
  }

  .col-lg-8>div>font{
    font-size: .725rem;
  }


}

body
{
    padding-top: 76px;
}

.sgda-red
{
    color: #dc1f2b;
}

.sgda-teal
{
    color: #0495a5;
}

.sgda-gold
{
    color: #d9cc1e;   
}

.sgda-blue
{
    color: #336db2;   
}

.coverImage
{
    height: 100%; 
    min-height: 480px;
    background-image: url("../img/cover_photo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .coverImage {
        background-attachment: scroll;
    }
}

.title
{
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;

}

#contentContainer
{
    height: 100%;
}

.section
{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#description
{
    background: white;
}
#faq
{
    background: #383365;
    color: white;
}
.faqTitle
{
    color: #cbdaeb;
}
#faq a
{
    color: #ebe83d;
}

#sponsor
{
    background: white;
    height: auto;
}
.icons
{
    width: auto; 
    height:35px;
    opacity: .7;
    margin: 15px;
    margin-top:0px;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.icons:hover
{
    opacity: 1;
    cursor:pointer;
}
.titleSection
{
    font-family: "UniversalBold", serif;
}

.myButton
{
    margin: 0px 15px;
    font-size: 18px;
    font-family: "UniversalObl";
    border:none;
    display:inline-block;
    padding:10px 25px;
    vertical-align:middle;
    text-decoration:none;
    color: #222222;
    background-color: #7abbab;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:32px;
    box-shadow: 2px 2px 2px #3a3466;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    
}
.myButton:hover
{
    background-color: #4f9a87;
    color: white;
}

@media (max-width: 735px){
    .myButton{
        margin: 0px -8px;
        transform: scale(0.85);
    }
}


.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    height: 100%;
}

/* Moves anchor up equal to the navbar size */
.anchor {
    position: relative;
    top: -76px;
}

/* COLORS */

#red{
  color: #fcfcfc;
}


.ccenter{
    text-align:center;
}

/*footer padding*/
.footr{
padding-top:10px;
}

.gframe{
margin: 0 auto;
}

/*Speakers Page*/

.active-Carousel-Item{
  border-bottom: 5px solid rgb(56, 51, 101);
}

/*Active Speaker Outline*/
.activeSlide{
  padding: 5px;
  background-color: #f0f1f1;
  border-bottom: #383365 5px solid;
  transition: all 0.5s ease-in;
}

.fa-caret-right, .fa-caret-left{
  color: #383365 !important;
}

#Summit-info-head{
  font-family: "Lato-Bold";
  color: white;
  font-size: 2.5rem;
  /*border-radius: 0.75rem;*/
  /*background: #383365;*/
  background-color: #383365;
}

.summit-info-category{
  font-family: Lato-Light;
  color: #D4E27F;
}

.speaker-card{
  /*background-color: rgba(255,255,255,0.75);*/
  background-color: #f7fbffbf;
  border: solid 5px black;

  /*Card Gradient*/
}

.inner-outline{
  border: solid 2px black;
}

.speaker-info{
  font-weight: 300;
}

/*Summit Info Page*/
.event-button{
  background-color: #dee4e8;
  border: solid 3px black;
  padding: 0px;
  text-overflow: clip;
  word-wrap: break-word;
}

.event-button{
  color: black !important;
}

/*.event-button:hover{*/
  /*background-color: rgba(222,228,232,0.5);*/
  /*-moz-opacity: 0.5;*/
  /*text-decoration: none;*/
/*}*/

.event-button:hover{
    color: white !important;
    text-decoration: none;
    background-color: #383365;
    -moz-opacity: 0.5;
    text-decoration: none;
    transition: all 0.25s ease;
}

#adjust-footer{
  margin-bottom: 310px;
}

/*Events page Game Jam and Summit Buttons*/
#content>a, #content_2>a{
  text-decoration: none;
  color: black;
}

/*About Page*/
.sgda-values{
  font-size: 1.25rem;
}

.club-logo{
    max-height: 150px;
    max-width: 300px;
}

.club-logo-btn{
    max-height: 80px;
}
@media (max-width: 767px){
    .club-logo-btn{
        max-height: 100px;
        max-width: 225px;
    }
}
@media (min-width: 992px){
    .club-logo-btn{
        max-height: 100px;
        max-width: 225px;
    }
}

.club-info:hover{
  cursor: pointer;
  opacity: 0.5;
  -moz-opacity: 0.5;
  transition: all 0.35s ease-in-out;
}

.about-moreInfo{
  background-color: #1b1e21;
}

.about-moreInfo:hover{
  text-decoration: none;
  background-color: red;
  transition: all 0.5s ease-in-out;
}

.font-weight-bolder {
  font-weight: 800;
}

.reverse-transition{
  transition: all 0.5s ease;
}

.active-filter{
    color: white !important;
    text-decoration: none;
    background-color: #383365;
    -moz-opacity: 0.5;
    text-decoration: none;
    transition: all 0.25s ease;
}

.scale-on-hover:hover{
  transform: scale(1.05);
  -moz-text-replace: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transition: all 0.5s ease;
}

.scale-on-hover-btn:hover{
  transform: scale(1.1);
  -moz-text-replace: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 0.5s ease;
}

.scale-on-hover-btn-small:hover{
  transform: scale(1.25);
  -moz-text-replace: scale(1.25);
  -o-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transition: all 0.5s ease;
}

/*clubs Page
#cpp:hover, #csun:hover, #csulb:hover, #csuf:hover, #ucr:hover, #ucsc:hover, #uci:hover, #ucsd:hover, #usc:hover, #speaker:hover, #workshop:hover, #showcase:hover{
  background-color: #dee4e8;
  transform: scale(1.10);
  -moz-text-replace: scale(1.10);
  -o-transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transition: all 0.75s ease;
}*/